@keyframes naruto {
  25% {
    opacity: 0.9;
    transform: scale(0.98, 0.98);
  }
  50% {
    opacity: 0.7;
  }
}

a {
  /* color: inherit;
	text-decoration: none; */
  all: unset;
}
a:hover {
  color: white;
  text-decoration: none;
}

#whatsapp-button:hover {
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: transparent;
}

#main-div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

header {
  /* height: 40vh; */
  background-color: navy;
  width: 100%;
}

/* header {
  width: 95vw;
  height: 30vh;
  background-color: gray;
  align-items: center;
  margin-left: 0;
} */

.logo {
  display: flex;
  /* width: 100%; */
  width: 100%;
  height: 20vh;
}

.logo-img {
  width: 30%;
}

#logo-texto {
  width: 70%;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: navy;
  color: white;
  /* padding-left: 5vw; */
}

nav .nav-div {
  display: flex;
  height: 12vh;
  margin: 0 5vw;
}

/* Texto Tecnoshop */
#logo-texto strong {
  font-size: 4.5vw;
  letter-spacing: 2vh;
  background-color: transparent;
  text-align: center;
}

/* Texto GPS Auto Sites Internet Automação */
#logo-texto b {
  font-size: 2vw;
  color: skyblue;
  background-color: transparent;
  text-align: center;
}

#menu-li-icones {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  width: 100%;
  background-color: skyblue;
  color: navy;
}
/* ul Home Serviços Contactos */
nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  width: 60vw;
  height: 100%;
  gap: 2vw;
}
nav ul li {
  font-size: 2.5vw;
  font-weight: bold;
}
nav ul li:hover {
  color: white;
  cursor: pointer;
}

.home-img {
  display: flex;
  background-color: skyblue;
  align-items: center;
  justify-content: center;
  gap: 10vw;
  width: 40vw;
}
.home-img #home-image:hover {
  color: white;
  cursor: pointer;
}
.home-img #menu-image:hover {
  color: white;
  cursor: pointer;
}

.hero {
  width: 100%;
  height: calc(70vh / 1.2);
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid gray;
  padding: 20px 0px;
}

.hero #porque {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.hero #porque ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  background-color: transparent;
  letter-spacing: 2px;
  gap: 5vw;
  font-weight: bolder;
  text-align: center;
  margin-top: 2vw;
  flex-wrap: wrap;
}
.hero #porque ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: skyblue;
  letter-spacing: 3px;
  font-weight: bolder;
  text-align: center;
  border-radius: 0.4vw 0.4vw;
  color: navy;
  padding: 0.5vh 1vw;
}

/* .gallery1{
		display:flex;
		flex-direction:column;
		align-items: center;
		justify-content: center;
		background-color:red;
	} */

.gallery_images {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 70vh;
  overflow: hidden;
}
.galeriaFotos {
  width: 98%;
  height: 70%;
  top: 30vh;
  position: absolute;
  opacity: 0.2;
  /* 
		animation-timing-function:ease-in-out;
		animation-name:naruto;
		animation-duration:20s;
		animation-iteration-count:infinite; */
}

/*
	.gallery_images{
		top:30vh;
		left: 3vw;
		position: absolute;
		width:94%;
		height:80%;
		overflow: hidden;
	}

	.galeriaFotos{
		top:0px;
		left:0px;
		position: absolute;
		width:80%;
		height:100%;
		opacity:0;
		animation-name:naruto;
		animation-duration:20s;
		animation-iteration-count:infinite; 
	}
	*/
/* .galeriaFotos:nth-last-child(2){
		animation-delay:5s;
	}
	.galeriaFotos:nth-last-child(3){
		animation-delay:10s;
	}
	.galeriaFotos:nth-last-child(4){
		animation-delay:15s;
	} 
	.galeriaFotos:nth-last-child(5){
		animation-delay:5s;
	} 
	.galeriaFotos:nth-last-child(6){
		animation-delay:10s;
	} 
	.galeriaFotos:nth-last-child(7){
		animation-delay:30s;
	}  */

span[class="light"],
.parallax {
  background-color: lightblue;
  padding: 2px;
  border: 3px solid black;
  border-radius: 3px 3px;
}

.about {
  width: 100%;
  height: auto;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2vh 0px;
}

.about > ul > li {
  list-style: none;
  margin-top: 20px;
}

.about > ul li span {
  display: block;
  background-color: blue;
  color: white;
  padding: 8px;
  border-radius: 4px 4px;
  text-align: center;
  font-weight: bold;
  margin-top: 15px;
}

.banner {
  display: block;
  background-color: white;
  color: navy;
  border-radius: 4px 4px;
  margin-top: 20px;
}

.banner .parallax {
  background-color: blue;
  color: white;
  padding: 8px;
  border-radius: 4px 4px;
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
}

footer {
  width: 100%;
  background-color: black;
  color: white;
  font-size: 2.5vw;
  padding: 2vh;
}

.footer_column {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: gray;
}

.footer_banner,
.copyright {
  width: 100%;
  color: gray;
  text-align: center;
  background-color: black;
}

footer h3 {
  background-color: navy;
  text-align: center;
  padding: 2vh 1vh;
  width: 50%;
  border-radius: 1vw 1vw;
}
.cards {
  width: 50%;
}
#logo_cards {
  width: 20%;
  border-radius: 50% 50%;
}

.network_img {
  width: 50px;
}
.network_img:hover {
  cursor: pointer;
}

.hero_header {
  border-top: 0.3vh solid gray;
  padding-top: 1.5vh;
}

.copyright {
  border-top: 0.3vh solid gray;
  padding: 10px 0px;
}

/*
@media (max-width: 400px) {
  header {
    background-color: blue;
  }
}


@media screen and (max-width: 400px) {
  header {
    background-color: cyan;
  }
}
*/
@media screen and (orientation: portrait) {
  body {
    /* height: 40vh; */
    background-color: transparent;
    font-size: 2.5vh;
  }
  .banner .parallax,
  #contactos {
    font-size: 2.5vh;
    padding: 1vh;
  }

  /* .parallax_description > ol > li {
    font-size: 3.5vh;
    font-weight: normal;
  } */

  .hero {
    height: auto;
  }
  .hero_header {
    font-size: calc(2.5vh * 2);
  }
}

@media screen and (orientation: landscape) {
  body {
    /* height: 40vh; */
    font-size: 2.5vw;
    background-color: transparent;
  }
  .banner .parallax {
    font-size: 2.5vw;
  }

  .hero {
    height: auto;
  }

  .hero_header {
    font-size: calc(2.5vw * 2);
  }
}
